@import "theme.less";
@import "components/beer/beer.less";
@import "components/modal/modal.less";
@import "components/dropdown/dropdown.less";
@import "components/modal_beer/modal_beer.less";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


#app {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 2rem;
  padding: 2rem;
}




